[submodule "TimeBasedCBJava"]
	path = TimeBasedCBJava
	url = https://github.com/rachelcynthia/TimeBasedCBJava.git
[submodule "TimeBasedCBExternalServiceJava"]
	path = TimeBasedCBExternalServiceJava
	url = https://github.com/rachelcynthia/TimeBasedCBExternalServiceJava.git
